* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #0B2434;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: white;
    height: 320px;
    width: 320px;
    border-radius: 10px;
}